* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "alias-header alias-header"
        "alias-main alias-main";
    height: 100vh;
    height: 100svh;
    transition: 0.3s;
}

.grid-container-nav {
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "alias-header alias-header"
        "alias-nav alias-main";
}

.nav-visible {
    display: block !important;
}

.nav {
    grid-area: alias-nav;
    background-color: brown;
    display: none;

    width: 100px;
}
#nav-btn {
    width: 50px;
    height: 50px;
    border: none;
    line-height: 100%;
    font-size: 3rem;
    background-color: transparent;
}
#nav-btn:active {
    background-color: rgba(91, 91, 91, 0.731);
    color: white;
}

header {
    grid-area: alias-header;
    background-color: cadetblue;
    font-size: 2rem;
    display: grid;
    align-items: center;
    gap: 40px;
}
header a {
    display: none;
    text-decoration: none;
    line-height: 100%;
    color: darkslategray;
}

.main-container {
    grid-area: alias-main;
    display: grid;
    background-color: darkgrey;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 250px 100px;
    grid-template-areas:
        "main"
        "aside"
        "footer";

    overflow-y: scroll;
}
main > * {
    animation: parallax linear;
    animation-timeline: scroll();
}
main h1 {
    --parallax-speed: 7;
    line-height: 5rem;
    font-size: 5rem;
    z-index: 0;
    padding: 5rem 0;
}
main p {
    --parallax-speed: 10;
}

main {
    grid-area: main;
    padding: 10px;
    background-color: beige;
}
footer {
    grid-area: footer;
    background-color: black;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
footer div {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
footer div ul {
    list-style: none;
}
footer div input,
footer div button {
    width: 80%;
    height: 2rem;
    border: none;
    border-radius: 30px;
    text-align: center;
    background-color: blanchedalmond;
}
footer div button {
    background-color: rgba(255, 235, 205, 0.742);
    border: 2px solid rgb(199, 199, 0);
}
footer div button:active {
    background-color: blanchedalmond;
}
aside {
    grid-area: aside;
    background-color: chocolate;
    overflow-x: scroll;

    overflow-y: hidden;
    scrollbar-width: none;

    display: flex;
    gap: 20px;
    align-items: center;
}
aside img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 40px;
    transition: 0.3s;
}
aside img:hover {
    transform: scale(1.4);
}
@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * -20px));
    }
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 50px 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas:
            "alias-header alias-header"
            "alias-nav alias-main";
    }
    header {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 70px 70px 100px;
    }
    header a {
        display: block;
    }
    .main-container {
        grid-template-columns: minmax(400px, 600px) 1fr;
        grid-template-rows: auto auto 100px;
        grid-template-areas:
            "main aside"
            "main aside"
            "footer footer";
    }
    aside {
        flex-wrap: wrap;
        overflow-y: auto;
        overflow-x: hidden;

        justify-content: space-between;
        scrollbar-width: none;
    }

    .nav {
        display: block;
    }
    #nav-btn {
        display: none;
    }
}
