* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "alias-header alias-header"
        "alias-main alias-main";
    height: 100vh;
    height: 100svh;
}

.grid-container-nav {
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "alias-header alias-header"
        "alias-nav alias-main";
}

.nav-visible {
    display: block !important;
}

.nav {
    grid-area: alias-nav;
    background-color: brown;
    display: none;

    width: 100px;
}
#nav-btn {
    width: 50px;
    height: 50px;
    border: none;
    line-height: 100%;
    font-size: 3rem;
    background-color: transparent;
}
#nav-btn:active {
    background-color: rgba(91, 91, 91, 0.731);
    color: white;
}

header {
    grid-area: alias-header;
    background-color: cadetblue;
}

.main-container {
    grid-area: alias-main;
    display: grid;
    background-color: darkgrey;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
        "main"
        "aside"
        "footer";
}
main > * {
    animation: parallax linear;
    animation-timeline: scroll();
}
main h1 {
    --parallax-speed: 7;
    line-height: 5rem;
    font-size: 5rem;
    z-index: 0;
    padding: 5rem 0;
}
main p {
    --parallax-speed: 10;
}

main {
    grid-area: main;
    padding: 10px;
    background-color: beige;
}
footer {
    grid-area: footer;
    background-color: blue;
}
aside {
    grid-area: aside;
    background-color: chocolate;
}
@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * -200px));
    }
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 50px 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas:
            "alias-header alias-header"
            "alias-nav alias-main";
        overflow-y: scroll;
    }
    .main-container {
        grid-template-columns: minmax(400px, 600px) 1fr;
        grid-template-rows: auto auto 100px;
        grid-template-areas:
            "main aside"
            "main aside"
            "footer footer";
    }

    .nav {
        display: block;
    }
    #nav-btn {
        display: none;
    }
}
